*,
* ::before
*::after{
    box-sizing: border-box;
    
}
body{
    font-family: "Pacifico", cursive;
}
h2{
    font-size: 27px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    margin-block: 10%;
    justify-content: space-around;
    background-color: rgb(102, 102, 102);
    min-height: 620px;
    align-content: center;
    border: solid 10px black;
    box-shadow: 3px 10px 11px -4px rgba(0,0,0,0.75);;
    
}


.postIt{
    width: 250px;
    height: 200px;
    background-color:rgb(253, 253, 203); 
    box-shadow:  inset -1px -4px 7px 0px rgba(0, 0, 0, 0.75), 
    0px 0px 11px -4px rgba(0,0,0,0.75);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    cursor: pointer;

}
.postIt:nth-of-type(1) {
    transform: rotate(350deg);
    transition: transform 1s ease
}
.postIt:nth-of-type(1):hover {
    transform: rotate(-360deg);
    

}

.postIt:nth-of-type(2) {
    background-color: rgb(202, 252, 203);
    transition: transform 1s, background-color 3s ;
    transform: rotate(12deg);
}
.postIt:nth-of-type(2):hover {
    transform: scale(2,2);
    background-color: blueviolet;
    
}

@keyframes translate {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(500px);
    }
    100%{
        transform: translateY(1px);
    }
}

.postIt:nth-of-type(3) {
    background-color: rgb(201, 201, 247);
    transform: rotate(354deg);
    animation: translate 5s both 1s;

}

@keyframes RotZoom {
    0% {
        transform: rotate(-360deg) scale(2,1);
    }
    30% {
        transform: rotate(-160deg) scale(1,2);
    }
    70% {
        transform: rotate(-100deg) scale(2,2) ;
        background-color: aquamarine;
    }
    100% {
        transform: rotate(354deg) scale(1,1) ;
        background-color: rgb(255, 127, 127);
    }
}
.postIt:nth-of-type(4) {
    background-color: rgb(202, 252, 203);
    transform: rotate(24deg);
    animation: RotZoom 6s both 1.5s;
}

@keyframes run {
    0% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(-10px);
    }
}

.postIt:nth-of-type(5) {
    background-color: rgb(253, 253, 203);
    transform: rotate(354deg);
    animation: run 4s both 1.5s;
}

@keyframes rotatearun {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(90deg) translate(calc(100vw - 250px), 0);
    }
    50% {
        transform: rotate(180deg) translate(calc(100vw - 250px), calc(100vh - 200px));
    }
    75% {
        transform: rotate(270deg) translate(0, calc(100vh - 200px));
    }
    100% {
        transform: rotate(360deg) translate(0, 0);
    }
}

.animated {
    animation: rotatearun 5s  linear;
}

.postIt:nth-of-type(6) {
    background-color: rgb(201, 201, 247);
    transform: rotate(354deg);
}



.postIt:nth-of-type(7) {
    background-color: rgb(253, 253, 203);
    transform: rotate(9deg);
    transition: transform 2s ease-in-out, background-color 3s;
}

.postIt:nth-of-type(7):hover {
    transform: rotate(720deg) scale(2,2);
    background-color: aqua;
}

.postIt:nth-of-type(8) {
    background-color: rgb(202, 252, 203);
    transform: rotate(300deg);
}
