*,
* ::before
*::after{
    box-sizing: border-box;
    
}
body{
    font-family: "Pacifico", cursive;
}
h2{
    font-size: 27px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 50px;
    margin-block: 10%;
    justify-content: space-around;
    background-color: rgb(102, 102, 102);
    min-height: 620px;
    align-content: center;
    border: solid 10px black;
    box-shadow: 3px 10px 11px -4px rgba(0,0,0,0.75);;
    
}


.postIt{
    width: 250px;
    height: 200px;
    background-color:rgb(253, 253, 203); 
    box-shadow:  inset -1px -4px 7px 0px rgba(0, 0, 0, 0.75), 
    0px 0px 11px -4px rgba(0,0,0,0.75);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

}
.postIt:nth-of-type(1) {
    transform: rotate(350deg);
    transition: transform 1s ease
}
.postIt:nth-of-type(1):hover {
    transform: rotate(-360deg);
    

}

.postIt:nth-of-type(2) {
    background-color: rgb(202, 252, 203);
    transition: transform 1s, background-color 3s ;
    transform: rotate(12deg);
}
.postIt:nth-of-type(2):hover {
    transform: scale(2,2);
    background-color: blueviolet;
    
}

@keyframes translate {
    0% {
        transform: translatey(1px);
    }
    50% {
        transform: translatey(500px);
    }
    100%{
        transform: translatey(1px);
    }
}

.postIt:nth-of-type(3) {
    background-color: rgb(201, 201, 247);
    transform: rotate(354deg);
    animation: translate 5s both 1s;

}

@keyframes RotZoom {
    0% {
        transform: rotate(-360deg) scale(2,1);
    }
    30% {
        transform: rotate(-160deg) scale(1,2);
    }
    70% {
        transform: rotate(-100deg) scale(2,2) ;
        background-color: aquamarine;
    }
    100% {
        transform: rotate(354deg) scale(1,1) ;
        background-color: rgb(255, 127, 127);
    }
}
.postIt:nth-of-type(4) {
    background-color: rgb(202, 252, 203);
    transform: rotate(24deg);
    animation: RotZoom 6s both 1.5s;
}

@keyframes run {
    0% {
        transform: translatex(1px);
    }
    50% {
        transform: translatex(1200px);
    }
    100% {
        transform: translateX(-10px);
    }
}

.postIt:nth-of-type(5) {
    background-color: rgb(253, 253, 203);
    transform: rotate(354deg);
    animation: run 4s both 1.5s;
}


.postIt:nth-of-type(6) {
    background-color: rgb(201, 201, 247);
    transform: rotate(354deg);
}

@keyframes rotateAndGo {
    0% {
        transform: rotate(354deg) translate(0, 0);
    }
    50% {
        transform: rotate(720deg) translate(200px, 200px);
    }
    100% {
        transform: rotate(354deg) translate(0, 0);
    }
}
.animate{
    animation: rotateAndGo 3s forwards 
}




.postIt:nth-of-type(7) {
    background-color: rgb(253, 253, 203);
    transform: rotate(9deg);
}


.postIt:nth-of-type(8) {
    background-color: rgb(202, 252, 203);
    transform: rotate(6deg);
}
